a{
    color: #FFBB74
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: whitesmoke;
    font-family: 'Poiret One', cursive;    
    font-size: 4rem;
    line-height: 2;
    margin: 50px auto 0 auto;
}
h2{
    color: #ED586C;
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    color: #FFBB74;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}
hr{
    border-top: 5px;
    border-bottom: 0;
    border-style: dotted;
    color: #EAF6F6;
    width: 5%;
}
.bottom-container{
    background-color: #F167A4;
    width: 100%;
    height: 200px;
}
.bottom-cloud{
    display: inline;
    position: absolute;
    top: 200px;
    left: 100px;
    height: auto;
    width: 25%;
}
.btn {
    background: #F167A4;
    background-image: -webkit-linear-gradient(top, #F167A4, #F167A4);
    background-image: -moz-linear-gradient(top, #F167A4, #F167A4);
    background-image: -ms-linear-gradient(top, #F167A4, #F167A4);
    background-image: -o-linear-gradient(top, #F167A4, #F167A4);
    background-image: linear-gradient(to bottom, #F167A4, #F167A4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ED586C;
    background-image: -webkit-linear-gradient(top, #ED586C, #ED586C);
    background-image: -moz-linear-gradient(top, #ED586C, #ED586C);
    background-image: -ms-linear-gradient(top, #ED586C, #ED586C);
    background-image: -o-linear-gradient(top, #ED586C, #ED586C);
    background-image: linear-gradient(to bottom, #ED586C, #ED586C);
    text-decoration: none;
  }
.contact-me{
    margin: 0 auto 5% auto;
}
.description{
    color: whitesmoke;
}
.footer-credits{
    color: whitesmoke;
    position: relative;
    top: 80px;
    bottom: 80px;
}
.footer-link{
    font-weight: bold;
    margin: 10px 20px;
    position: relative;
    top: 40px;
    bottom: 40px;
}
.footer-link:hover{
    color: whitesmoke;
}
.img-skill-row{
    float: left;
    width: 20%;
    margin: 0 5% 5% 0
}
.devil-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}
.profile-img{
    border-radius: 50%;
    height: 200px;
    margin: 2% auto 2% auto;
    width: 200px;
}
.profile-text{
    line-height: 1.5;
    margin: 0 auto 2% auto;
    width: 50%;
}
.top-cloud{
    position: absolute;
    top: 70px;
    right: 200px;
    width: 25%;
}
.top-container{
    background-color: #ED5A6D;
    padding-top: 100px;
    position: relative;
}
.social-media{
    padding: 2%
}
.skill-row{
    line-height: 1.5;
    margin: 50px auto 50px auto;
    text-align: justify;
    width: 50%;
}